
/* start navbar */


#logo
{
width: 150px;

}
.nav-link
{
    color: #fff;
    margin: 0px 20px;
    font-size: 1.1rem;
    transition: all .2s;

}
.nav-link:hover{
    cursor: pointer;
    color: #000;
    background-color: #d81e05;
    border-radius: 7px;
}

#logIn{
   
    /* color: #d81e05; */
    border: 1px solid #d81e05;
}

/* end of navbar */