<section>
  <div class="container py-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-10 col-xl-8">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5">
            <h3 class="mb-5 text-center">Create account</h3>

            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off">
              <div class="row">
                <div class="form-group col-lg-6">
                  <input type="text" formControlName="name" name="name" required placeholder="Name"
                    class="form-control form-control-lg" />
                </div>
                <div class="form-group col-lg-6">
                  <input type="text" formControlName="username" name="username" required placeholder="Username"
                    class="form-control form-control-lg" />
                </div>
                <div class="form-group col-lg-6">
                  <input type="password" formControlName="password" name="password" required placeholder="Password"
                    class="form-control form-control-lg" />
                </div>
                <div class="form-group col-lg-6">
                  <input type="tel" formControlName="phoneNumber" name="phoneNumber" required
                    placeholder="Phone number" class="form-control form-control-lg" />
                </div>
                <div class="form-group col-lg-6">
                  <input type="email" formControlName="email" name="email" required placeholder="Email"
                    class="form-control form-control-lg" />
                </div>
                <div class="form-group col-lg-6">
                  <select formControlName="government" (change)="onSelectChange($event.target.value)" class="form-control form-select" id="government">
                    <option value="" disabled selected hidden>Select Government</option>
                    <option *ngFor="let item of gov" [value]="item.id">{{item.englishName}}</option>
                  </select>
                </div>
                <div class="form-group col-lg-6">
                  <select formControlName="city" class="form-control form-select" id="city">
                    <option value="" selected hidden disabled>Select City</option>
                    <option *ngFor="let item of cit" [value]="item.englishName">{{item.englishName}}</option>
                  </select>
                </div>
                <div class="form-group col-lg-6">
                  <input formControlName="area" type="text" name="area" required placeholder="Area"
                    class="form-control form-control-lg" />
                </div>
                <div class="form-group col-lg-6">
                  <select formControlName="bloodGroup" class="form-control form-select" id="bloodGroup">
                    <option value="" selected hidden disabled>Select Blood Group</option>
                    <option *ngFor="let item of bloodGroups" [value]="item">{{item}}</option>
                  </select>
                </div>
                <div class="form-group col-lg-6">
                  <label class="control-label">Gender:</label>
                  <div class="form-check">
                    <input formControlName="gender" type="radio" class="form-check-input" value="Male" id="male">
                    <label class="form-check-label" for="male">Male</label>
                  </div>
                  <div class="form-check">
                    <input formControlName="gender" type="radio" class="form-check-input" value="Female" id="female">
                    <label class="form-check-label" for="female">Female</label>
                  </div>
                </div>
                <div class="form-group col-lg-6">
                  <dl-date-time-picker formControlName="dateOfBirth" startView="day" maxView="year" minView="minute" minuteStep="5"
                    [(ngModel)]="selectedDate"></dl-date-time-picker>
                </div>
                <div class="form-group col-lg-6 offset-lg-6">
                  <button class="btn btn-primary btn-lg btn-block" [disabled]="registerForm.invalid" type="submit">Register</button>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>