<nav id="navbar" class="navbar navbar-expand-sm navbar-light " *ngIf="isAuthenticated">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#secondnavbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="secondnavbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item " *ngIf="isMember">
                <a class="nav-link" routerLink="/find-donors" routerLinkActive="active">Donors</a>
            </li>
            <li class="nav-item" *ngIf="isMember">
                <a class="nav-link" routerLink="/find-banks" routerLinkActive="active">Banks</a>
            </li>
            <li class="nav-item" *ngIf="isBankAdmin || isBankModerator">
                <a class="nav-link" routerLink="/moderator-page" routerLinkActive="active">Adminstration Bank</a>
            </li>
            <li class="nav-item" *ngIf="isModerator">
                <a class="nav-link" routerLink="/admin-page" routerLinkActive="active">Moderator</a>
            </li>

            <li class="nav-item" *ngIf="isAdmin">
                <a class="nav-link" routerLink="/administration" routerLinkActive="active">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/select-time-todonation" routerLinkActive="active">check for donation</a>
            </li>
        </ul>
    </div>
  </nav>    