<div class="container mt-3 ">
    <div class="row mb-1 ">
        <div class="col">
            <div class="input-group mb-3 box-shadow">
                <div class="input-group-prepend">
                    <span class="input-group-text border-top-0 border-left-0 border-bottom-0"><i
                            class="fa fa-search"></i></span>
                </div>
                <input type="text" [(ngModel)]="searchText" placeholder="Search by banks ..."
                    class="form-control border border-danger">
            </div>
        </div>
    </div>
</div>
<div class="container pt-3 " >
    <div class="row mt-4 justify-content-md-center">
        <div class="col-12 col-md-12 col-lg-6 py-xl-6" *ngFor="let bank of banks | search: searchText | paginate: { itemsPerPage: 12, currentPage: p }; let i = index;">
            <div class="card border-primary mb-3" style="border-radius:15px;">
                <div class="card-body">
                    <div class="row">
                        <div class="image col-12 col-sm-4 d-flex align-items-center flex-column mb-2">
                            <img *ngIf="bank.picture" [src]="getPictureUrl(bank.picture)" class="img-fluid p-1 bg-primary" style="max-height: 30vmin;" />
                            <img *ngIf="!bank.picture" src="../../../assets/siteimg/hospital.png" class="img-fluid p-1 bg-primary" style="max-height: 30vmin;" />
                        </div>
                        <div class="col-12 col-sm-8 d-flex align-items-center flex-column">
                            <div class="text-primary" style="font-size: 2vb;">{{bank.name}}</div>
                            <div class="card border-primary my-3" style="border-radius:20px;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6" *ngFor="let item of bank.bloodGroups">
                                            <div class="row">
                                                <div class="col-5 text-danger" style="font-size:2vb;">
                                                    {{item.group}}
                                                </div>
                                                <div class="col-7" style="font-size: 2vb;">
                                                    {{item.value}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-sm btn-primary" style="border-radius: 12px;"
                                (click)="getBankById(bank.id,modal)"><i class="fa fa-address-card"></i> Contact</button>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    
</div>
<div class="container pb-4" >
    <div class="row justify-content-center" >
            <div class="bg-white text-center" style="width: fit-content;">
                <pagination-controls autoHide="true" (pageChange)="p = $event" maxSize="5"></pagination-controls>
            </div>
    </div>
</div>
<ng-template #modal>
    <div class="float-right">
        <button type="button" class="close mr-4 mt-3" data-dismiss="modal" aria-label="Close"
            (click)="closeModal()">
            <span class="text-danger" aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="card-body d-flex align-items-center flex-column">
            <div class="image">
                 <img *ngIf="bank.picture" [src]="getPictureUrl(bank.picture)" style="max-height: 25vmin;" class="img-fluid p-1 bg-primary" />
                 <img *ngIf="!bank.picture" src="../../../assets/siteimg/hospital.png" style="max-height: 25vmin;" class="img-fluid p-1 bg-primary" />
                </div>
            <h4 class="modal-title text-primary">{{bank.name}}</h4>
        </div>

        <div class="card border-primary mb-3" style="border-radius:20px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3 text-primary">
                        <h6><i class="fa fa-id-card"></i> BankId</h6>
                    </div>
                    <div class="col-sm-9">
                        {{bank.id}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3 text-primary">
                        <h6><i class="fa fa-envelope-open"></i> Email</h6>
                    </div>
                    <div class="col-sm-9">
                        {{bank.email}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3 text-primary">
                        <h6><i class="fa fa-phone"></i> Phone</h6>
                    </div>
                    <div class="col-sm-9">
                        {{bank.phoneNumber}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3 text-primary">
                        <h6><i class="fa fa-globe"></i> Website</h6>                                
                    </div>
                    <div class="col-sm-9">
                        <a href="{{bank.website}}">{{bank.website}}</a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3 text-primary">
                        <h6><i class="fa fa-map-marker"></i> Address</h6>    
                    </div>
                    <div class="col-sm-9">
                        {{bank.address.area}}, {{bank.address.city}} - {{bank.address.government}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3 text-primary">
                        <h6><i class="fa fa-history"></i> Updated</h6>  
                    </div>
                    <div class="col-sm-9">
                        {{bank.lastUpdated | date:'MMM d, y h:mm a' }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>